/PicGIMX.X/build/
/PicGIMX.X/dist/
/PicGIMX.X/nbproject/Makefile-default.mk
/PicGIMX.X/nbproject/Makefile-genesis.properties
/PicGIMX.X/nbproject/Makefile-local-default.mk
/PicGIMX.X/nbproject/private/private.xml
/PicGIMX.X/nbproject/private/configurations.xml
